@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
/* Heading */
@import url('https://fonts.googleapis.com/css?family=Karla');
/* Body */

.App {
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  /* font-family: 'Karla', sans-serif; */
}

.text {
}

a {
  color: 'lightskyblue' !important;
}

.app-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.code {
  left: 0;
}

.brand-header {
  color: #00d1b2;
  font-family: 'Architects Daughter', cursive;
  font-weight: normal;
}

.nav-icon-container {
  display: flex;
  flex-direction: row;
}

.nav-icons {
  margin: 10px;
}

.navbar {
  margin: 10px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
}
