.card-container {

}

.card-body {

}

.left-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 520px;
}

.heading-name {
  display: block;
}

.locality-subHeading {
  display: block;
}

@media only screen and (max-width: 479px){
  .thumbnail-container {
    width: auto;
  }

  .left-box {
    text-align: center;
  }
} else {
  .thumbnail-container {
    width: 200px;
    height: 200px;
  }
}
