.input-container {
  padding: 10px;
}

.phone-row {
  display: flex;
  flex-direction:row;
}

.phone-no {
  width: 240px;
}

.country-code {
  display: flex;
  align-items: center;
  width: 40px;
  font-size: 20px;
}

.error-text {
  color: red;
  font-size: 16px;
}

.error-container {
  padding: 10px;
}
