.place-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75vw;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.heading-name, .locality-subHeading {
  width: 75vw;
}

.place-address {
  padding: 10px;
  width: 75vw;
}

.place-rating {
  float: right;
  border-radius: 5px;
  color: white;
}

.rating-number {
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.place-details {
  text-align: right;
}

@media only screen and (max-width: 479px){

} else {
  .thumbnail-container {
    width: 200px;
    height: 200px;
  }
}
